.weather{
    place-self: center;
    padding:40px;
    border-radius:10px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    display:flex;
    flex-direction:column;
    align-items: center;
}
.search-bar{
    display:flex;
    align-items: center;
    gap:12px;
    
}
.search-bar input{
    height: 50px;
    border:none;
    outline:none;
    border-radius: 40px;
    padding-left: 25px;
    color:#626262;
    background: #ffffff;
    font-size: 18px;

}
.search-bar img{
    width:50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.search-bar img:hover{
    background: #c1f7f0;
}
.search-bar img:active{
    transform: scale(0.95);
}
.weather-icon{
    width:150px;
    margin:30px 0;
}
.temperature{
    font-size: 80px;
    line-height: 1;
    color:#fff;
}
.location{
    font-size: 40px;
    color:#fff;
}
.weather-data{
    width:100%;
    margin-top:40px;
    color:#fff;
    display:flex;
    justify-content: space-between;
}
.weather-data .col{
    display:flex;
    align-items: flex-start;
    gap:12px;
    font-size: 22px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .weather {
        padding: 20px;
        width: 90%;
        max-width: 400px;
    }

    .search-bar input {
        height: 40px;
        font-size: 16px;
        padding-left: 20px;
        width: 200px;
    }

    .search-bar img {
        width: 40px;
        padding: 12px;
    }

    .weather-icon {
        width: 120px;
        margin: 20px 0;
    }

    .temperature {
        font-size: 60px;
    }

    .location {
        font-size: 30px;
    }

    .weather-data {
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }

    .weather-data .col {
        font-size: 18px;
        gap: 10px;
    }
}
